body {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  color: #333;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

main {
  max-width: 30em;
  margin: 0 auto;
  padding: 2.618em 1.618em;
}

header {
  margin-bottom: 2.618em;
}

.header--main {
  font-size: 4.236em;
  font-weight: 700;
}

.header--sub {
  font-size: 1.618em;
}

.text {
  line-height: 1.4em;
  margin-bottom: 1.618em;
}

.code {
  background-color: #ddd;
  color: #1e90ff;
  border-radius: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.example {
  background-color: #ddd;
  padding: 1.618em;
  border-radius: 0.1em;
  margin-bottom: 1.618em;
}

.example .text {
  margin-bottom: 0;
}

.image--inline {
  float: left;
  background-color: #ffb1a3;
  border-left: 0.5em solid #ff6347;
  width: 20%;
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.1em;
}

.quote--inline {
  float: right;
  background-color: #8fc7ff;
  border-left: 0.5em solid #1e90ff;
  width: 33%;
  padding: 1.618em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.1em;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
